<h1> Gossip N° <%= params[:id] %> </h1>

<p>
Titre : <%= @gossips.title %> 
</p>
<p>
Auteur :  <%= link_to @gossips.user.first_name, user_path(@gossips.user) %>
</p>
<p>
Contenu : <%= @gossips.content %>
</p>
<p>
Créer le : <%= @gossips.created_at %>
</p>