<h1> Voici le profil de <%= @user.first_name %> </h1>


<p>
Prénom : <%= @user.first_name %>
</p>
<p>
nom : <%= @user.last_name %>
</p>
<p>
email : <%= @user.email %>
</p>
<p>
age : <%= @user.age %>
</p>